.carousel {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.5s ease;
  width: 100%;
}

.carousel-item {
  flex: 0 0 100%;
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.carousel-item:last-child {
  margin-right: 0;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

@media (min-width: 640px) {
  .carousel {
    justify-content: center;
  }

  .carousel-container {
    width: 80%;
  }

  .carousel-item {
    flex: 0 0 30%;
    margin-right: 1rem;
    margin-bottom: 0;
    width: 30%;
  }

  .carousel-item:last-child {
    margin-right: 0;
  }
}
