.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0%;
}

.carousel-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: 10px;
}

.carousel-item {
  flex: 0 0 calc(100% / 3 - 10px);
  margin-right: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
}

.carousel-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

.carousel-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 14px;
  border-radius: 50%;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

.carousel-button:hover {
  color: #666;
}

.carousel-button.prev {
  left: 0;
}

.carousel-button.next {
  right: 0;
}
